.card {
    text-align: center;
}

.card-body {
    padding-top: 0;
}

.badge-pill {
    padding: 10px 30px;
    font-size: 21px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 30px;
}

.imgFrame {
    width: 100%;
    height:560px;
    display: flex;
}

@media (min-width: 992px) { 
    .imgFrame {
        width: 100%;
        height:400px;
        display: flex;
    }
 }


.imgFrame img {
    width: 100%;
    align-self: center;
}