.bannerGroup {
    background-color: #343a40;
    display: flex;
}

.imgGroup {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
}

.bannerGroup img {   
    width: 100%;
    margin: 5px 0;
}