/* Background */
.bg-wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}

.bg-img {
  background-image: url(
  '/glassesImage/background.jpg'
  );
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  background-position: center;
}

.overlay-dark {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: black;
  opacity: 0.8;
}

/* Content */
.content-wrapper {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 800px;
}

.highlight {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
}

.before-after {
  display: flex;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.before,
.after {
  width: 200px;
  height: auto;
  margin: 0 20px;
}

.control-after {
  position: relative;
}

.label-before,
.label-after {
  position: absolute;
  top: 3%;
  left: 20px;
  width: fit-content;
  background-color: #dc3545;
  color: white;
  font-family: "Kaushan Script", cursive;
  letter-spacing: 1px;
}

.glasses-info-text {
  position: absolute;
  left: 20px;
  bottom: 0;
  color: white;
}
 
.bgText {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 160, 122, 0.8);
  font-size: 13px;
  padding-left: 8px;
  padding-top: 8px;
}

.glasses-info-img {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: auto;
}

/* Glasses Colection */
.glasses-collection {
  background-color: #fff;
  width: fit-content;
  padding: 20px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.gStyle {
  width: 50px;
  height: auto;
  margin: 0 5px;
  padding: 3px;
}

@media (min-width: 992px) {
  .before,
  .after {
    width: 220px;
    height: auto;
    margin: 0 20px;
  }

  .glasses-info-text {
    width: 84.8%;
  }

  .glasses-collection {
    bottom: 15%;
  }
}
