* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: 16px;
}

.btn {
    margin:5px;
    padding: 5px 30px;
    font-weight:500;
}

h2 {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0;
}